*{padding: 0;margin: 0;}

:root {
    --green: #435343;
    --black: #0E1C20;
    --white: #ffffff;
    --cream:#F4ECE6;
  }

body{
	background:#F2F4F9;
	font-family:'Nunito', sans-serif;
	font-size:18px;
	font-weight:normal;
	line-height: normal;
	color:var(--black);
	overflow-x:hidden;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-weight:800;margin-top: 0px;padding-top: 0px;color:var(--black);}

h1{font-size:70px;   margin-bottom:25px;}
h2{font-size:40px;   }
h3{font-size:50px;  line-height:60px;  margin-bottom:15px;}
h4{font-size:30px;  line-height:35px;  margin-bottom:15px;}        
h5{font-size:23px;   margin-bottom:8px;}
h6{font-size:20px;   line-height:30px;  margin-bottom:10px;} 
p{font-size:18px;  line-height:26px;  margin-bottom:35px;}
p:nth-last-child(1){margin-bottom:0;}

a{text-decoration:none;color:#231F20;outline:none;display:inline-block;transition: all 0.5s;}
a:hover{text-decoration:none;color:#ED1C24;}
a:focus{outline: none;}
/* ul, li{padding: 0px;margin: 0px;list-style-type: none;} */
ul, li{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.font-600{
    font-weight: 600;
    font-size: 22px;
}

.container{ width: 1304px; max-width: 95%;} 
.btn-default{
    max-width: 200px;
    min-width: 170px;
    height: auto;
    padding: 10px;
    text-align: center;
    background-color: var(--green);
    color: var(--white);
    font-weight: 600;
    font-size: 22px;
    border-radius: 35px;
    border: 2px solid transparent;
    transition: all 0.5s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn-default:hover{
    background-color: transparent;
    color: var(--green);
    border-color: var(--green);
}
.btn-outline{
    background-color: transparent;
    color: var(--green);
    border-color: var(--green);
}
.btn-outline:hover{
    background-color: var(--green);
    color: var(--white);
    border-color: transparent;
}

.header-text{
    text-align: center;
}
.header-text h5{
    color: var(--green);
}
section:not(.nav-slider),footer{
    padding-top: 100px ;
}
.padding-top{
    padding-top: 60px;
}
.pb-100{
    padding-bottom: 100px;
}
/* Header */
.nav-slider{
    background-color: var(--cream);
    position: relative;
}
.navbar a.nav-link.active {
    background-color: var(--green);
    color: var(--white);
    border-radius: 50px;
}
.navbar a.nav-link{
    line-height: 60px;
    padding: 4px 9px !important;
    color: var(--black);
}
.navbar {
    padding-top: 20px;
    padding-bottom: 30px;
}
/* slider */
.slider-img{
    width: 100%;
}
.contact-me-box{
    position: absolute;
    bottom: -40%;
    left: -23%;
    width: 333px;
    height: 333px;
    background-color: var(--green);
    border-radius: 50%;
    border: 10px solid #ffffff;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.slider-dec{
    width: 83%;
    margin-bottom: 30px;
}
.slider-btn a{
    margin-right: 20px;
}
.slider-dec p{
    font-size: 16px;
}
.myname{
    padding-bottom: 20px;
    display: inline-block;
}
.contact-me-box i{
    font-size: 28px;
    color: var(--white);
}
.contact-mail-round{
    border-radius: 50%;
    width:80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(196, 196, 196, 0.5);
}
.contact-me-box h6{
    color: var(--white);
}
.slider-follow {
    position: absolute;
    right: 0;
    bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 40px 0px 0px 40px;
    margin-bottom: 20px;
    width: 400px;
    padding-left: 30px;
}
.slider-follow-box ul{
    display: flex;
}
.slider-follow-box li a{
    width: 55px;
height: 55px;
border: 4px solid #FFFFFF;
box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.25);
background-color: var(--green);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.slider-follow-box li a:hover{
transform: scale(1.1);
}
.slider-follow ul{
    margin: 0px;
    padding: 0px;
}
.slider-follow ul li{
    list-style: none;
    margin-left: 15px;
}
.slider-follow i{
    color: var(--white);
}
/* spacializing */

.spacializing-box{
    border: 2px solid #435343;
    border-radius: 35px;
    padding:30px;
    position: relative;
    overflow: hidden;
}
.spacializing-box::before{
    content: '';
    width: 25px;
    height: 80px;
    background-color: var(--green);
    display: block;
    position: absolute;
    right: 0;
    top: 30%;
    border-radius: 20px 0px 0px 20px;
    transition: all 0.5s;
    z-index: -1;
}
.spacializing-box:hover::before{
    width: 100%;
    height: 100%;
    top: 0px;
}
.spacializing-box h4,li{
    transition: all 0.5s;
}
.spacializing-box:hover h4,.spacializing-box:hover li{
    color: var(--white);
}
.spacializing-box li{
    font-weight: 500;
font-size: 20px;
line-height: 40px;
}


/* work */
.work-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.07);
    border-radius: 20px;   
    margin-bottom: 30px; 
}

.work-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.work-dec {
    text-align: center;
}
.work-box{
    margin-bottom: 100px;
    max-width: 380px;
}
.work-top{
    padding-top: 10%;
}

/* experience */
.experience-box{
    display: flex;
    align-items: center;
    position: relative;
}
.experience-box::before{
    content: '';
    width: 25px;
    height: 80px;
    background-color: var(--green);
    display: block;
    position: absolute;
    right: 0;
    top: 40%;
    border-radius: 20px 0px 0px 20px;
}
.experience-right{
    background: #F4ECE6;
    border: 2px solid #F4ECE6;
    border-radius: 35px;
    padding: 30px;
    padding-left: 50px;
    margin-left: 20%;
    transition: all 0.5s;
}
.experience-box:hover .experience-right{
    box-shadow: 4px 4px 15px 2px rgb(0 0 0 / 7%);
}
.experience-left {
    position: absolute;
    left: -10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    
}
.experience-left h3 {
    font-size: 75px;
}
.experience-right span{
    padding-bottom: 15px;
    display: block;
}
.experience-box li{
    font-size: 16px;
}
.ex-date{
    font-weight: 500;
    font-size: 18px;
}
.ex-location{
    font-size: 14px;
}


/* education */
.education-box{
    border: 2px solid #000000;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
}
.education-box h4,h6,span{
    transition: all 0.5s;
}
.education-box:hover{
    border: 2px solid #ffffff;
}
.education-box:hover  h4,.education-box:hover h6,.education-box:hover span{
   color: #ffffff;
}
.education-box::before,.education-box:after{
    content: '';
    width: 25px;
    height: 80px;
    background-color: var(--green);
    display: block;
    position: absolute;
    right: 0;
    top: 35%;
    border-radius: 20px 0px 0px 20px;
    transition: all 0.9s cubic-bezier(0, 0, 0.11, 0.84);
    z-index: -1;
}
.education-box::after{
    left: 0;
    border-radius: 0px 20px 20px 0px;
    
}
.education-box:hover:before,.education-box:hover:after {
    width: 100%;
    height: 100%;
    top: 0px;
}

/* contact */
.btn-contact{
    max-width:60% ;
    min-width: 300px;
    border-radius: 35px;
    height: 100px;
    font-size: 40px;
}
.contact-box{
    text-align: center;
}
footer{
    margin-bottom: 70px;
}
/* responsive */




